<%- include('../components/header'); %>
<%-include('../components/projectIndex'); %>
<div style="text-align: center;">
  <a href="/" class="card-link">
    [Go Back]
  </a>
</div>
<%- include('../components/footer'); %>
