<div
  class="pricing-header px-3 py-3 pt-md-5 mx-auto text-center d-flex justify-content-center"
>
  <h1 class="display-4">会社一覧</h1>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 px-0 mt-3">
      <ul class="list-group">
        <% for(var j in companyDetail){ %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-7">
              <% if(!companyDetail[j].name){ %>
                <%- companyDetail[j].email %>
              <% }else{ %> 
                <%- companyDetail[j].name %>
              <% } %>
              </div>
              <div class="col-md-2 text-center">
              <% if(!companyDetail[j].name){ %>
                <a
                  href="/company/companyDetail/<%- companyDetail[j].email %>"
                  class="card-link btn btn-primary btn-sm"
                >
              <% }else{ %>
                <a
                  href="/company/companyDetail/<%- companyDetail[j].u_email %>"
                  class="card-link btn btn-primary btn-sm"
                >
              <%}%>
                  詳細
                </a>
              </div>
              <div class="col-md-3 text-center">
                <a
                  href="/project/new"
                  class="card-link btn btn-primary btn-sm"
                >
                  フォロー
                </a>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>