<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6 px-0 mt-3">
      <div class="card">
        <div class="card-header">
          ユーザー名
        </div>
        <div class="card-body">
          <p class="card-text">
            <a href="/users/userDetail">ユーザーページ</a>
          </p>
          <p class="card-text">
            <a href="/project">案件一覧</a>
          </p>
          <p class="card-text">
            <a href="/choose">ログイン</a>
          </p>
          <p class="card-text">
            <a href="/choose">新規登録</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
