<%- include('components/header'); %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6 px-0 mt-3">
        <div class="card">
          <div class="card-header">
            選択
          </div>
          <div class="card-body">
            <p class="card-text">
              <a href="/users/userSingup">ユーザー登録</a>
            </p>
            <p class="card-text">
              <a href="/users/userSingin">ユーザーログイン</a>
            </p>
            <p class="card-text">
              <a href="/company/companySingin">会社登録</a>
            </p>
            <p class="card-text">
              <a href="/company/companySingup">会社ログイン</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('components/footer'); %>