<!DOCTYPE html>
<html>
  <head>
    <title>sample</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for (var i in data) { %>
      <div class="test"><%- data[i].email %></div>
    <% } %>
  </body>
</html>